@charset "utf-8";

/* font-family: 'Times New Roman', sans-serif; */
/* font-family: 'Roboto', sans-serif; w:1,3,4,5,7,9*/
/* font-family: 'Nunito', sans-serif; w:2-9*/
/* font-family: 'Inter', sans-serif; w:1-9*/


.wrap{position:relative;
    top:144px;}
section{width:calc(95% - 90px);
    margin:0 auto;}

/*---------- sec1 - display ----------*/
.img_main{border-bottom:1px solid #b9b9b9;}
.img_main>h3{margin-bottom:10px;
    font-family: 'Nunito', sans-serif;
    font-size:12px;
    font-weight:300;
    color:#393939;}
.img_main::after{display:block;content:"";clear:both;}
.img_main>div{float:left;}
    /* dp_img */
.dp_img{width:75%;
    border-right:1px solid #b9b9b9;
    padding:0 45px 40px 0;
    display:flex;
    justify-content:space-between;}
.dp_img>div{width:50%;}
.dp_img>div img{width:100%;}
.dp_img>div:nth-child(2){padding-left:45px;}
.dp_img h3{margin-bottom:20px;
    font-family: 'Times New Roman', sans-serif;
    font-size:30px;
    font-weight:300;
    line-height:38px;
    color:#000000;}
.dp_img p{margin-bottom:10px;
    font-size:13px;
    font-weight:300;
    line-height:20px;
    color:#696969;}
.dp_img .readmore{font-size:10px;
    font-weight:300;
    color:#393939;}
    /* img_info */
.img_info{width:25%;
    padding-left:45px;}
.img_info>ul>li{margin-bottom:40px;}
.img_info h4{margin-bottom:10px;
    font-family: 'Nunito', sans-serif;
    font-size:12px;
    font-weight:500;
    color:#696969;}
.img_info p{font-size:12px;
    font-weight:300;
    color:#999999;}
.size p{display:inline;}
.download{display:inline-block;
    height:20px;
    margin-left:10px;
    border-radius:10px;
    padding:3px;
    line-height:14px;
    cursor:pointer;}
.download img{height:100%;
    margin-bottom:2px;}
.download:hover{background-color:#000000;}
.share li{float:left;
    margin-right:20px;
    margin-bottom:10px;
    font-size:12px;
    font-weight:300;
    color:#999999;}
.share li:hover{border-bottom:1px solid #b9b9b9;}

/*---------- sec2 - img list ----------*/
.img_li{margin-top:40px;
    margin-bottom:120px;
    position:relative;}
.page::after{display:block;content:'';clear:both;}
.page li{float:left;
    width:19%;
    aspect-ratio:10/9;
    margin-left:1.25%;
    margin-bottom:1%;
    cursor:pointer;}
.page li:nth-child(n+16){display:none;}
.page li img{width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;}
.page li:nth-child(5n+1){margin-left:0;}
    /* page_btn */
.page_btn{margin-top:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:16px;}
.num_btn{display:flex;
    gap:10px;}
.num_btn li{width:40px;
    height:40px;
    border:1px solid #dddddd;
    border-radius:20px;
    font-family: 'Nunito', sans-serif;
    font-size:12px;
    font-weight:300;
    line-height:40px;
    text-align:center;
    color:#393939;
    cursor:pointer;}
.num_btn li:nth-child(n+5){display:none;}
.page_btn .num_on{background-color:#393939;
    color:#dddddd;}
.dots{color:#999999;}
.arrow{border:none;
    cursor:pointer;}
.arrow_left{pointer-events:none;}





/*---------- 반응형 ----------*/
/* 태블릿 */
@media only screen and (max-width:1440px){
    /*---- sec1 - display ----*/
    .dp_img{width:100%;
        border-right:0;
        padding:0;}
    .img_info{width:100%;
        height:auto;
        margin-top:20px;
        padding-left:0;
        padding-top:20px;
        background-color:#f5f5f5;}
    .img_info>ul{display:flex;
        gap:45px;}
    .img_info>ul>li{margin-bottom:20px;}
    .size{flex:2;
        margin-left:20px;}
    .credit{flex:4;}
    .share{flex:3;}
    /*---- sec2 - img list ----*/
    .page li{float:left;
        width:32.5%;
        aspect-ratio:10/9;}
    .page li:nth-child(5n+1){margin-left:1.25%;}
    .page li:nth-child(3n+1){margin-left:0;}
}/* 태블릿 끝 */

/* 태블릿S */
@media only screen and (max-width:900px){
    /*---- sec1 - display ----*/
    .dp_img{display:block;}
    .dp_img>div{width:100%;}
    .dp_img>div:nth-child(2){margin-top:10px;
        padding-left:0;}
    .dp_img p{display:-webkit-box;
        -webkit-line-clamp:5;
        -webkit-box-orient:vertical;
        overflow:hidden;}
}/* 태블릿S 끝*/

/* 모바일 */
@media only screen and (max-width:768px){
    .wrap{top:74px;}
    section{width:90%;}
    /*---- sec1 - display ----*/
    .img_main{border-bottom:0;}
    .dp_img>div:first-child{width:100vw;
        transform:translateX(-5%);}
    .dp_img h3{margin-bottom:8px;
        font-size:24px;
        line-height:28px;}
    .dp_img p{display:none;}
    .dp_img .readmore{float:right;
        margin-bottom:16px;}
    .img_info{margin-top:0;
        padding-top:10px;
        padding-left:10px;}
    .img_info>ul{display:block;}
    .size{margin-left:0;}
}/* 모바일 끝 */